# --- Dependencies (Thư viện) ---
node_modules/
package-lock.json
yarn.lock

# --- Sensitive Data (Tuyệt đối không đẩy lên GitHub) ---
config.json
appstate.json
fca-config.json
cookie.json
appstate_letan.json
.env

# --- Cache & Database (Dữ liệu cục bộ) ---
Fca_Database/
cache/
assets/tmp/
*.sqlite

# --- Media Files (File rác khi bot tải về) ---
*.mp4
*.mp3
*.jpg
*.jpeg
*.png
*.gif

# --- Logs (Nhật ký lỗi) ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# --- System Files (File hệ thống) ---
.DS_Store
Thumbs.db
.idea/
.vscode/